<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <%= link_to t('.update_merchant'), edit_user_merchant_path(current_user, @merchant), class: "button" %>
    </div>
  </div>
</div>
