---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jlfoxcollis/grandmazon/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ca27b87bf5febcbc869f5ebb298ecfcf12a6d6ce0d325628e6b5f79f20eac8cd"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1611021972'
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/jlfoxcollis/grandmazon/pulls/12","id":556845770,"node_id":"MDExOlB1bGxSZXF1ZXN0NTU2ODQ1Nzcw","html_url":"https://github.com/jlfoxcollis/grandmazon/pull/12","diff_url":"https://github.com/jlfoxcollis/grandmazon/pull/12.diff","patch_url":"https://github.com/jlfoxcollis/grandmazon/pull/12.patch","issue_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/issues/12","number":12,"state":"closed","locked":false,"title":"Cleanupcode","user":{"login":"jlfoxcollis","id":68164897,"node_id":"MDQ6VXNlcjY4MTY0ODk3","avatar_url":"https://avatars0.githubusercontent.com/u/68164897?v=4","gravatar_id":"","url":"https://api.github.com/users/jlfoxcollis","html_url":"https://github.com/jlfoxcollis","followers_url":"https://api.github.com/users/jlfoxcollis/followers","following_url":"https://api.github.com/users/jlfoxcollis/following{/other_user}","gists_url":"https://api.github.com/users/jlfoxcollis/gists{/gist_id}","starred_url":"https://api.github.com/users/jlfoxcollis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jlfoxcollis/subscriptions","organizations_url":"https://api.github.com/users/jlfoxcollis/orgs","repos_url":"https://api.github.com/users/jlfoxcollis/repos","events_url":"https://api.github.com/users/jlfoxcollis/events{/privacy}","received_events_url":"https://api.github.com/users/jlfoxcollis/received_events","type":"User","site_admin":false},"body":"Cleaned
        up unused code, incorporated more view logic for readability.","created_at":"2021-01-18T14:26:14Z","updated_at":"2021-01-18T14:26:22Z","closed_at":"2021-01-18T14:26:22Z","merged_at":"2021-01-18T14:26:22Z","merge_commit_sha":"bf7d4ae30b440ae627450ee961e5d97f24c9fd4c","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/pulls/12/commits","review_comments_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/pulls/12/comments","review_comment_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/issues/12/comments","statuses_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/statuses/b53e0a471e8ea2ad9e4f18bc52a9400a896bc298","head":{"label":"jlfoxcollis:cleanupcode","ref":"cleanupcode","sha":"b53e0a471e8ea2ad9e4f18bc52a9400a896bc298","user":{"login":"jlfoxcollis","id":68164897,"node_id":"MDQ6VXNlcjY4MTY0ODk3","avatar_url":"https://avatars0.githubusercontent.com/u/68164897?v=4","gravatar_id":"","url":"https://api.github.com/users/jlfoxcollis","html_url":"https://github.com/jlfoxcollis","followers_url":"https://api.github.com/users/jlfoxcollis/followers","following_url":"https://api.github.com/users/jlfoxcollis/following{/other_user}","gists_url":"https://api.github.com/users/jlfoxcollis/gists{/gist_id}","starred_url":"https://api.github.com/users/jlfoxcollis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jlfoxcollis/subscriptions","organizations_url":"https://api.github.com/users/jlfoxcollis/orgs","repos_url":"https://api.github.com/users/jlfoxcollis/repos","events_url":"https://api.github.com/users/jlfoxcollis/events{/privacy}","received_events_url":"https://api.github.com/users/jlfoxcollis/received_events","type":"User","site_admin":false},"repo":{"id":329746207,"node_id":"MDEwOlJlcG9zaXRvcnkzMjk3NDYyMDc=","name":"grandmazon","full_name":"jlfoxcollis/grandmazon","private":false,"owner":{"login":"jlfoxcollis","id":68164897,"node_id":"MDQ6VXNlcjY4MTY0ODk3","avatar_url":"https://avatars0.githubusercontent.com/u/68164897?v=4","gravatar_id":"","url":"https://api.github.com/users/jlfoxcollis","html_url":"https://github.com/jlfoxcollis","followers_url":"https://api.github.com/users/jlfoxcollis/followers","following_url":"https://api.github.com/users/jlfoxcollis/following{/other_user}","gists_url":"https://api.github.com/users/jlfoxcollis/gists{/gist_id}","starred_url":"https://api.github.com/users/jlfoxcollis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jlfoxcollis/subscriptions","organizations_url":"https://api.github.com/users/jlfoxcollis/orgs","repos_url":"https://api.github.com/users/jlfoxcollis/repos","events_url":"https://api.github.com/users/jlfoxcollis/events{/privacy}","received_events_url":"https://api.github.com/users/jlfoxcollis/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jlfoxcollis/grandmazon","description":null,"fork":false,"url":"https://api.github.com/repos/jlfoxcollis/grandmazon","forks_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/forks","keys_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/teams","hooks_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/hooks","issue_events_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/issues/events{/number}","events_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/events","assignees_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/assignees{/user}","branches_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/branches{/branch}","tags_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/tags","blobs_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/git/refs{/sha}","trees_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/statuses/{sha}","languages_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/languages","stargazers_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/stargazers","contributors_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/contributors","subscribers_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/subscribers","subscription_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/subscription","commits_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/commits{/sha}","git_commits_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/git/commits{/sha}","comments_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/comments{/number}","issue_comment_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/issues/comments{/number}","contents_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/contents/{+path}","compare_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/merges","archive_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/downloads","issues_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/issues{/number}","pulls_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/pulls{/number}","milestones_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/milestones{/number}","notifications_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/labels{/name}","releases_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/releases{/id}","deployments_url":"https://api.github.com/repos/jlfoxcollis/grandmazon/deployments","created_at":"2021-01-14T22:09:06Z","updated_at":"2021-01-18T14:26:27Z","pushed_at":"2021-01-18T14:26:23Z","git_url":"git://github.com/jlfoxcollis/grandmazon.git","ssh_url":"git@github.com:jlfoxcollis/grandmazon.git","clone_url":"https://github.com/jlfoxcollis/grandmazon.git","svn_url":"https://github.com/jlfoxcollis/grandmazon","homepage":null,"size":1818,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"jlfoxcollis:main","ref":"main","sha":"491c0a4ea0edd77b7c1d5b61cb41ccc02c11ace1","user":{"login":"jlfoxcollis","id":68164897,"node_id":"MDQ6VXNlcjY4MTY0ODk3","avatar_url":"https://avatars0.githubusercontent.com/u/68164897?v=4","gravatar_id":"","url":"https://api.github.com/users/jlfoxcollis","html_url":"https://github.com/jlfoxcollis","followers_url":"https://api.github.com/users/jlfoxcollis/followers","following_url":"https://api.github.com/users/jlfoxcollis/following{/other_user}","gi[...]
